ruby
	{ruby-align:left;}
.style0
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;
	border:none;}
.style59
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	border:none;}
.style60
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	border:none;}
.style61
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	border:none;}
.style62
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	border:none;}
.font5
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;}
.font10
	{color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Verdana;}
td
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;
	text-align:general;
	vertical-align:bottom;
	border:none;
	white-space:nowrap;}
.xl73
	{font-weight:700;}
.xl74
	{text-align:left;}
.xl75
	{font-weight:700;}
.xl76
	{font-style:italic;}
.xl77
	{text-align:center;}
.xl78
	{font-weight:700;
	font-style:italic;}
.xl79
	{font-weight:700;
	text-align:center;}
.xl80 {}
.xl81
	{text-align:left;}
.xl82
	{color:black;
	font-family:Verdana, sans-serif;}
.xl83
	{color:black;
	font-family:Verdana, sans-serif;}
.xl84
	{font-weight:700;}
.xl85 {}
.xl86
	{text-align:center;}
.xl87
	{color:black;
	font-family:Verdana, sans-serif;}
.xl88
	{color:black;
	font-family:Verdana, sans-serif;}
.xl89
	{color:black;
	font-weight:700;
	font-family:Verdana, sans-serif;}
.xl90
	{color:black;
	font-family:Verdana, sans-serif;}
.xl91
	{color:black;
	font-family:Verdana, sans-serif;
	text-align:center;}
.xl92
	{white-space:normal;}
